{
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module"
  },
  "rules": {
  },
  "plugins": [
      "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
      "browser": true,
      "jest": true
  }
}